config:
  serverPort: 3101

  clients:
    - url: ${loki_url}

  positions:
    filename: /run/promtail/positions.yaml

  scrape_configs:
    - job_name: kubernetes-pods
      kubernetes_sd_configs:
        - role: pod

      pipeline_stages:
        - docker: {}

      relabel_configs:
        - source_labels: [__meta_kubernetes_namespace]
          target_label: namespace

        - source_labels: [__meta_kubernetes_pod_name]
          target_label: pod

        - source_labels: [__meta_kubernetes_pod_container_name]
          target_label: container

        - source_labels: [__meta_kubernetes_pod_label_app]
          target_label: app
