apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ${name}
  namespace: ${namespace}
spec:
  secretName: ${name}
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
  dnsNames:
    - "${hostname}"
